__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

env/
venv/
ENV/
env.bak/
venv.bak/
.venv/
.venv.bak/

pip-log.txt
pip-delete-this-directory.txt

*.egg-info/
dist/
build/
*.egg

.cache/
*.cover
*.py,cover
nosetests.xml
coverage.xml
*.cover
*.log
*.sqlite

.vscode/
.idea/
*.swp
*.swo

.ipynb_checkpoints

*.so

*.tmp
*.temp
*.log
*.pid
*.seed

.DS_Store
Thumbs.db